body {
    font-family:verdana,helvetica,arial,sans-serif;
    /*padding:20px;*/
    font-size:12px;
    margin:0;
}
/*h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}*/
#teachingInformation{
    width:1200px;
    height:770px;
    margin:0 auto;
}
#header{
    height:67px;
}
#nav{
    width:12%;
    padding:10px;
}
#footer{
    height:45px;
}

#header .logo{
    width:180px;
    height:38px;
    margin-left:20px;
}
#header span{
    height:38px;
    line-height: 38px;
    font-weight: bold;
    font-size: 21px;
    font-family: 'MicroSoft YaHei';
    vertical-align: top;
    margin-left:30px;
}
#header span i{
    color:red;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
}

#nav ul li .tree-node {
    height: 22px;
}
#nav ul li .tree-title {
    font-size: 14px;
    vertical-align: top;
    padding: 0 2px;
    height: 22px;
    line-height: 22px;
}

#teachingInformationList{
    font-size: 14px;
}

#footer p{
    background-color:#95B8E7;
    color:#fff;
    margin:0;
    height:43px;
    line-height: 43px;
    text-align: center;
    font-size:16px;
}
#footer p span+span{
    margin-left:30px;
}


.lines-both .datagrid-body td{
}
.lines-no .datagrid-body td{
  border-right:1px dotted transparent;
  border-bottom:1px dotted transparent;
}
.lines-right .datagrid-body td{
  border-bottom:1px dotted transparent;
}
.lines-bottom .datagrid-body td{
  border-right:1px dotted transparent;
}


#studentBox table input{
   font-size: 12px;
   height:18px;
}
#studentBox label{
   width:60px;
   font-size: 14px;
   display: inline-block;
}
#studentBox tr{
   padding:10px 0;
   margin:10px 0;
}
#studentBox td.student{
   width:130px;
}
#studentBox td.student input{
   width:60px;
}
#studentBox td.information{
   width:300px;
}
#studentBox td.information input{
   width:230px;
}
#classBox table input{
   font-size: 12px;
}
#classBox label{
   width:100px;
   font-size: 14px;
   display: inline-block;
   text-align:right;
}
#dialog-buttons{
    text-align: center;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 1px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    vertical-align: middle;
}
.file input {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}